gabi-backend/n8n/workflow3-bot-reservas.json
{
  "name": "Gabi - Bot Reservas WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mensajes-entrantes",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "c1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Mensajes",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "c1b2c3d4-0001-0001-0001-000000000001"
    },
    {
      "parameters": {
        "jsCode": "// Parsear webhook de Evolution API\n// En n8n webhook v2 el body llega en $json.body\nconst body = $json.body || $json;\nconst data = body.data || body;\n\n// Ignorar mensajes propios\nif (data.key?.fromMe === true) return [];\n\n// Solo chats privados (no grupos)\nconst remoteJid = data.key?.remoteJid || '';\nif (!remoteJid || remoteJid.endsWith('@g.us') || remoteJid.endsWith('@broadcast')) return [];\n\nconst message = data.message || {};\nconst caption =\n  message.imageMessage?.caption ||\n  message.extendedTextMessage?.text ||\n  message.conversation || '';\n\nconst telefono = remoteJid.replace('@s.whatsapp.net', '');\nconst nombreCliente = data.pushName || null;\n\n// Caso 1: tiene código invisible → reservar\nconst match = caption.match(/\\u200B([a-f0-9]{8})/) || caption.match(/reservar\\s+([a-f0-9]{8})/i);\nif (match) {\n  return [{ json: { tipo: 'reservar', prendaId: match[1], telefono, remoteJid, nombreCliente } }];\n}\n\n// Caso 2: es una imagen sin código → intento de confirmación de pago\nconst mediaUrl = message.imageMessage?.url || message.imageMessage?.jpegThumbnail || null;\nif (message.imageMessage) {\n  return [{ json: { tipo: 'confirmar', telefono, remoteJid, mediaUrl } }];\n}\n\n// Cualquier otro mensaje: ignorar\nreturn [];"
      },
      "id": "c1b2c3d4-0002-0002-0002-000000000001",
      "name": "Parsear Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-tipo",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "reservar",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1b2c3d4-0009-0009-0009-000000000001",
      "name": "¿Reservar o Confirmar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://manu-stylobackend:3001/api/v1/reservas/reservar-bot",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "telefonoWhatsapp", "value": "={{ $json.telefono }}" },
            { "name": "prendaId", "value": "={{ $json.prendaId }}" },
            { "name": "nombreCliente", "value": "={{ $json.nombreCliente }}" }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-0003-0003-0003-000000000001",
      "name": "Crear Reserva",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 280],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.fechaExpiracion }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "exists", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1b2c3d4-0004-0004-0004-000000000001",
      "name": "¿Reserva OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 280]
    },
    {
      "parameters": {
        "jsCode": "const reserva = $json;\nconst hora = new Date(reserva.fechaExpiracion).toLocaleTimeString('es-AR', {\n  hour: '2-digit',\n  minute: '2-digit',\n  timeZone: 'America/Argentina/Buenos_Aires'\n});\nconst cat = reserva.prenda?.categoria?.nombre || 'Prenda';\nconst talle = reserva.prenda?.talle?.nombre || '';\nconst desc = cat + (talle ? ` — Talle ${talle}` : '');\nconst remoteJid = $('Parsear Mensaje').first().json.remoteJid;\nconst fotoUrl = reserva.prenda?.fotos?.[0]?.url || null;\nconst caption = `✅ ¡Te reservé la prenda!\\n\\n*${desc}*\\n\\nTenés hasta las *${hora}* para enviarnos el comprobante de pago. Si no lo mandás a tiempo, la reserva se cancela automáticamente. 🙌`;\nreturn [{ json: { remoteJid, caption, fotoUrl } }];"
      },
      "id": "c1b2c3d4-0005-0005-0005-000000000001",
      "name": "Formatear Confirmación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://manu-evolution-api:8080/message/sendMedia/manu",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "apikey", "value": "429683C4C977415CAAFCCE10F7D57E11" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "number", "value": "={{ $json.remoteJid }}" },
            { "name": "mediatype", "value": "image" },
            { "name": "mimetype", "value": "image/jpeg" },
            { "name": "media", "value": "={{ $json.fotoUrl }}" },
            { "name": "caption", "value": "={{ $json.caption }}" },
            { "name": "fileName", "value": "prenda.jpg" }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-0006-0006-0006-000000000001",
      "name": "WhatsApp - Confirmación",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 180],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const remoteJid = $('Parsear Mensaje').first().json.remoteJid;\nreturn [{ json: { remoteJid, mensaje: 'Lo sentimos, esa prenda ya no está disponible para reservar. 😕' } }];"
      },
      "id": "c1b2c3d4-0007-0007-0007-000000000001",
      "name": "Formatear Error Reserva",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://manu-evolution-api:8080/message/sendText/manu",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "apikey", "value": "429683C4C977415CAAFCCE10F7D57E11" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "number", "value": "={{ $json.remoteJid }}" },
            { "name": "text", "value": "={{ $json.mensaje }}" }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-0008-0008-0008-000000000001",
      "name": "WhatsApp - No Disponible",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://manu-stylobackend:3001/api/v1/reservas/confirmar-por-bot",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "telefonoWhatsapp", "value": "={{ $json.telefono }}" },
            { "name": "comprobanteUrl", "value": "={{ $json.mediaUrl }}" }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-0010-0010-0010-000000000001",
      "name": "Confirmar Pago",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 540],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-002",
              "leftValue": "={{ $json.estado }}",
              "rightValue": "CONFIRMADA",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1b2c3d4-0011-0011-0011-000000000001",
      "name": "¿Pago OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 540]
    },
    {
      "parameters": {
        "jsCode": "const remoteJid = $('Parsear Mensaje').first().json.remoteJid;\nconst cat = $json.prenda?.categoria?.nombre || 'Prenda';\nconst talle = $json.prenda?.talle?.nombre || '';\nconst desc = cat + (talle ? ` — Talle ${talle}` : '');\nreturn [{ json: { remoteJid, mensaje: `🎉 ¡Listo! Recibimos tu comprobante y confirmamos la venta de *${desc}*. ¡Gracias por tu compra! 🛍️` } }];"
      },
      "id": "c1b2c3d4-0012-0012-0012-000000000001",
      "name": "Formatear Pago OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 480]
    },
    {
      "parameters": {
        "jsCode": "const remoteJid = $('Parsear Mensaje').first().json.remoteJid;\nreturn [{ json: { remoteJid, mensaje: 'No encontramos ninguna reserva activa para tu número. Si ya se venció el tiempo de reserva, escribinos para que te ayudemos. 😊' } }];"
      },
      "id": "c1b2c3d4-0013-0013-0013-000000000001",
      "name": "Formatear Sin Reserva",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 620]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://manu-evolution-api:8080/message/sendText/manu",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "apikey", "value": "429683C4C977415CAAFCCE10F7D57E11" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "number", "value": "={{ $json.remoteJid }}" },
            { "name": "text", "value": "={{ $json.mensaje }}" }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-0014-0014-0014-000000000001",
      "name": "WhatsApp - Pago OK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://manu-evolution-api:8080/message/sendText/manu",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "apikey", "value": "429683C4C977415CAAFCCE10F7D57E11" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "number", "value": "={{ $json.remoteJid }}" },
            { "name": "text", "value": "={{ $json.mensaje }}" }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-0015-0015-0015-000000000001",
      "name": "WhatsApp - Sin Reserva",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 620]
    }
  ],
  "connections": {
    "Webhook Mensajes": {
      "main": [[{ "node": "Parsear Mensaje", "type": "main", "index": 0 }]]
    },
    "Parsear Mensaje": {
      "main": [[{ "node": "¿Reservar o Confirmar?", "type": "main", "index": 0 }]]
    },
    "¿Reservar o Confirmar?": {
      "main": [
        [{ "node": "Crear Reserva", "type": "main", "index": 0 }],
        [{ "node": "Confirmar Pago", "type": "main", "index": 0 }]
      ]
    },
    "Crear Reserva": {
      "main": [[{ "node": "¿Reserva OK?", "type": "main", "index": 0 }]]
    },
    "¿Reserva OK?": {
      "main": [
        [{ "node": "Formatear Confirmación", "type": "main", "index": 0 }],
        [{ "node": "Formatear Error Reserva", "type": "main", "index": 0 }]
      ]
    },
    "Formatear Confirmación": {
      "main": [[{ "node": "WhatsApp - Confirmación", "type": "main", "index": 0 }]]
    },
    "Formatear Error Reserva": {
      "main": [[{ "node": "WhatsApp - No Disponible", "type": "main", "index": 0 }]]
    },
    "Confirmar Pago": {
      "main": [[{ "node": "¿Pago OK?", "type": "main", "index": 0 }]]
    },
    "¿Pago OK?": {
      "main": [
        [{ "node": "Formatear Pago OK", "type": "main", "index": 0 }],
        [{ "node": "Formatear Sin Reserva", "type": "main", "index": 0 }]
      ]
    },
    "Formatear Pago OK": {
      "main": [[{ "node": "WhatsApp - Pago OK", "type": "main", "index": 0 }]]
    },
    "Formatear Sin Reserva": {
      "main": [[{ "node": "WhatsApp - Sin Reserva", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-25T00:00:00.000Z",
  "versionId": "gabi-bot-reservas-v2"
}
