gabi-backend/n8n/workflow3-bot-reservas.json
{
  "name": "Gabi - Bot Reservas WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mensajes-entrantes",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "c1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Mensajes",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "c1b2c3d4-0001-0001-0001-000000000001"
    },
    {
      "parameters": {
        "jsCode": "// Parsear webhook de Evolution API\nconst body = $json.body || $json;\nconst data = body.data || body;\n\n// Ignorar mensajes propios\nif (data.key?.fromMe === true) return [];\n\n// Solo chats privados (no grupos)\nconst remoteJid = data.key?.remoteJid || '';\nif (!remoteJid || remoteJid.endsWith('@g.us') || remoteJid.endsWith('@broadcast')) return [];\n\nconst message = data.message || {};\nconst caption =\n  message.imageMessage?.caption ||\n  message.extendedTextMessage?.text ||\n  message.conversation || '';\n\nconst telefono = remoteJid.replace('@s.whatsapp.net', '');\nconst nombreCliente = data.pushName || null;\n\n// Decodificar código invisible (\\u200B=0, \\u200C=1, 4 bits por hex char)\nfunction decodeInvisible(text) {\n  const zwChars = [...text].filter(c => c === '\\u200B' || c === '\\u200C');\n  if (zwChars.length < 32) return null;\n  const bits = zwChars.slice(0, 32).map(c => c === '\\u200B' ? '0' : '1').join('');\n  let hex = '';\n  for (let i = 0; i < 32; i += 4) hex += parseInt(bits.slice(i, i + 4), 2).toString(16);\n  return hex;\n}\n\n// Caso 1: imagen con código invisible → agregar al carrito\nconst prendaId = decodeInvisible(caption);\nif (prendaId) {\n  return [{ json: { tipo: 'carrito_agregar', prendaId, telefono, remoteJid, nombreCliente } }];\n}\n\n// Caso 2: texto LISTO → confirmar todas las reservas del carrito\nconst textoNorm = caption.trim().toUpperCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\nif (textoNorm === 'LISTO') {\n  return [{ json: { tipo: 'carrito_confirmar', telefono, remoteJid, nombreCliente } }];\n}\n\n// Caso 3: imagen sin código → comprobante de pago\nif (message.imageMessage) {\n  const mediaUrl = message.imageMessage?.url || null;\n  return [{ json: { tipo: 'comprobante', telefono, remoteJid, mediaUrl } }];\n}\n\n// Cualquier otro mensaje: ignorar\nreturn [];"
      },
      "id": "c1b2c3d4-0002-0002-0002-000000000001",
      "name": "Parsear Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-carrito",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "carrito_agregar",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1b2c3d4-0015-0015-0015-000000000001",
      "name": "¿Agregar al Carrito?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://manu-stylobackend:3001/api/v1/reservas/agregar-carrito-bot",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "telefonoWhatsapp", "value": "={{ $json.telefono }}" },
            { "name": "prendaId", "value": "={{ $json.prendaId }}" }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-0016-0016-0016-000000000001",
      "name": "Agregar Al Carrito",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 220],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const res = $json;\nconst remoteJid = $('Parsear Mensaje').first().json.remoteJid;\n\nif (!res.ok) {\n  return [{ json: { remoteJid, mensaje: 'Esta prenda ya no está disponible. Si crees que es un error, escribinos 😊' } }];\n}\n\nconst total = res.totalEnCarrito || 1;\nconst desc = res.desc || 'Prenda';\nconst yaEstaba = res.yaEstabaEnCarrito;\n\nlet mensaje;\nif (yaEstaba) {\n  mensaje = `Esta prenda ya estaba en tu lista 🛒\\n\\nTenés ${total} prenda${total > 1 ? 's' : ''} guardada${total > 1 ? 's' : ''}. Mandá más fotos o respondé *LISTO* para reservar todo.`;\n} else {\n  mensaje = `✅ Guardé *${desc}* en tu lista 🛒\\n\\nTenés ${total} prenda${total > 1 ? 's' : ''} guardada${total > 1 ? 's' : ''}. Mandá más fotos o respondé *LISTO* para reservar todo.`;\n}\n\nreturn [{ json: { remoteJid, mensaje } }];"
      },
      "id": "c1b2c3d4-0017-0017-0017-000000000001",
      "name": "Formatear Respuesta Carrito",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://manu-evolution-api:8080/message/sendText/manu",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "apikey", "value": "429683C4C977415CAAFCCE10F7D57E11" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "number", "value": "={{ $json.remoteJid }}" },
            { "name": "text", "value": "={{ $json.mensaje }}" }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-0018-0018-0018-000000000001",
      "name": "WhatsApp - Respuesta Carrito",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 220],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-confirmar",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "carrito_confirmar",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1b2c3d4-0009-0009-0009-000000000001",
      "name": "¿Confirmar Carrito o Comprobante?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://manu-stylobackend:3001/api/v1/reservas/confirmar-carrito-bot",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "telefonoWhatsapp", "value": "={{ $json.telefono }}" },
            { "name": "nombreCliente", "value": "={{ $json.nombreCliente }}" }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-0003-0003-0003-000000000001",
      "name": "Confirmar Carrito",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 460],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const res = $json;\nconst remoteJid = $('Parsear Mensaje').first().json.remoteJid;\n\nif (!res.reservadas && !res.detalle) {\n  return [{ json: { remoteJid, mensaje: 'No tenés prendas guardadas. Reenviá las fotos que te interesan y después respondé *LISTO* 😊' } }];\n}\n\nconst reservadas = res.reservadas || 0;\nconst fallidas = res.fallidas || 0;\nconst detalle = res.detalle || [];\n\nif (reservadas === 0) {\n  return [{ json: { remoteJid, mensaje: 'No pudimos reservar ninguna prenda, puede que ya no estén disponibles. Si creés que es un error, escribinos 😊' } }];\n}\n\n// Tomar la hora de expiración de la primera reservada (todas tienen la misma)\nconst horaExp = detalle.find(d => d.ok)?.horaExpiracion || '';\n\nconst lista = detalle\n  .filter(d => d.ok)\n  .map(d => `• ${d.desc}`)\n  .join('\\n');\n\nlet mensaje = `✅ ¡Reservé ${reservadas} prenda${reservadas > 1 ? 's' : ''}!\\n\\n${lista}\\n\\nTenés hasta las *${horaExp}* para enviarnos el comprobante de pago. Si no lo mandás a tiempo, las reservas se cancelan automáticamente. 🙌`;\n\nif (fallidas > 0) {\n  const listaFallidas = detalle\n    .filter(d => !d.ok)\n    .map(d => `• ${d.desc}`)\n    .join('\\n');\n  mensaje += `\\n\\n⚠️ ${fallidas} prenda${fallidas > 1 ? 's' : ''} ya no estaba${fallidas > 1 ? 'n' : ''} disponible${fallidas > 1 ? 's' : ''}:\\n${listaFallidas}`;\n}\n\nreturn [{ json: { remoteJid, mensaje } }];"
      },
      "id": "c1b2c3d4-0005-0005-0005-000000000001",
      "name": "Formatear Confirmación Carrito",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://manu-evolution-api:8080/message/sendText/manu",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "apikey", "value": "429683C4C977415CAAFCCE10F7D57E11" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "number", "value": "={{ $json.remoteJid }}" },
            { "name": "text", "value": "={{ $json.mensaje }}" }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-0006-0006-0006-000000000001",
      "name": "WhatsApp - Confirmación Carrito",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 460],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://manu-stylobackend:3001/api/v1/reservas/recibir-comprobante",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "telefonoWhatsapp", "value": "={{ $json.telefono }}" },
            { "name": "comprobanteUrl", "value": "={{ $json.mediaUrl }}" }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-0010-0010-0010-000000000001",
      "name": "Guardar Comprobante",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 680],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const remoteJid = $('Parsear Mensaje').first().json.remoteJid;\nreturn [{ json: { remoteJid, mensaje: '¡Gracias! Recibimos tu comprobante, Gabi lo está revisando 🙌' } }];"
      },
      "id": "c1b2c3d4-0011-0011-0011-000000000001",
      "name": "Formatear Acuse Comprobante",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 680]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://manu-evolution-api:8080/message/sendText/manu",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "apikey", "value": "429683C4C977415CAAFCCE10F7D57E11" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "number", "value": "={{ $json.remoteJid }}" },
            { "name": "text", "value": "={{ $json.mensaje }}" }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-0012-0012-0012-000000000001",
      "name": "WhatsApp - Acuse Comprobante",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 680]
    }
  ],
  "connections": {
    "Webhook Mensajes": {
      "main": [[{ "node": "Parsear Mensaje", "type": "main", "index": 0 }]]
    },
    "Parsear Mensaje": {
      "main": [[{ "node": "¿Agregar al Carrito?", "type": "main", "index": 0 }]]
    },
    "¿Agregar al Carrito?": {
      "main": [
        [{ "node": "Agregar Al Carrito", "type": "main", "index": 0 }],
        [{ "node": "¿Confirmar Carrito o Comprobante?", "type": "main", "index": 0 }]
      ]
    },
    "Agregar Al Carrito": {
      "main": [[{ "node": "Formatear Respuesta Carrito", "type": "main", "index": 0 }]]
    },
    "Formatear Respuesta Carrito": {
      "main": [[{ "node": "WhatsApp - Respuesta Carrito", "type": "main", "index": 0 }]]
    },
    "¿Confirmar Carrito o Comprobante?": {
      "main": [
        [{ "node": "Confirmar Carrito", "type": "main", "index": 0 }],
        [{ "node": "Guardar Comprobante", "type": "main", "index": 0 }]
      ]
    },
    "Confirmar Carrito": {
      "main": [[{ "node": "Formatear Confirmación Carrito", "type": "main", "index": 0 }]]
    },
    "Formatear Confirmación Carrito": {
      "main": [[{ "node": "WhatsApp - Confirmación Carrito", "type": "main", "index": 0 }]]
    },
    "Guardar Comprobante": {
      "main": [[{ "node": "Formatear Acuse Comprobante", "type": "main", "index": 0 }]]
    },
    "Formatear Acuse Comprobante": {
      "main": [[{ "node": "WhatsApp - Acuse Comprobante", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-04T00:00:00.000Z",
  "versionId": "gabi-bot-reservas-v5"
}
