gabi-backend/n8n/workflow2-scheduler-reservas.json
{
  "name": "Gabi - Scheduler Reservas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "b1b2c3d4-0001-0001-0001-000000000001",
      "name": "Cada 1 minuto",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://manu-stylobackend.gygo4l.easypanel.host/api/v1/reservas/enviar-recordatorios",
        "options": {}
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000001",
      "name": "POST Enviar Recordatorios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst lista = items[0].json;\nif (!Array.isArray(lista) || lista.length === 0) return [];\nreturn lista.map(r => ({ json: r }));"
      },
      "id": "b1b2c3d4-0003-0003-0003-000000000001",
      "name": "Expandir items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://manu-evolution-api.gygo4l.easypanel.host/message/sendMedia/manu",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.telefonoWhatsapp }}"
            },
            {
              "name": "mediatype",
              "value": "image"
            },
            {
              "name": "mimetype",
              "value": "image/jpeg"
            },
            {
              "name": "media",
              "value": "={{ $json.fotoUrl }}"
            },
            {
              "name": "caption",
              "value": "=⚠️ Te quedan *{{ $json.minutosRestantes }} minutos* para confirmar el pago. Si no confirmás, la prenda vuelve al catálogo automáticamente."
            },
            {
              "name": "fileName",
              "value": "prenda.jpg"
            }
          ]
        },
        "options": {}
      },
      "id": "b1b2c3d4-0004-0004-0004-000000000001",
      "name": "WhatsApp - Recordatorio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://manu-stylobackend.gygo4l.easypanel.host/api/v1/reservas/expirar-vencidas",
        "options": {}
      },
      "id": "b1b2c3d4-0005-0005-0005-000000000001",
      "name": "Expirar Vencidas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 520]
    }
  ],
  "connections": {
    "Cada 1 minuto": {
      "main": [
        [
          {
            "node": "POST Enviar Recordatorios",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expirar Vencidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Enviar Recordatorios": {
      "main": [
        [
          {
            "node": "Expandir items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expandir items": {
      "main": [
        [
          {
            "node": "WhatsApp - Recordatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
